doctype html
html
  head
    include minis/headerreferences.jade
    title Some great name
  body
    #main.pure-g
      include minis/header.jade
      section#box404
        .fontwrapper.pure-u-1
          .title.pure-u-1
            h1 whooooops...
        div.heightwrapper.pure-u-1
          div#calvin.pure-u-1-4.darkorange
            img(src='/resources/images/cryingcalvin.svg')
          div.pure-u-3-4.darkorange
            p We're really sorry<br>But this page does not exist
