doctype html
html
  head
<<<<<<< HEAD
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(href='http://fonts.googleapis.com/css?family=Julius+Sans+One', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/resources/styles/css/reset.css')
    link(rel='stylesheet', href='/resources/styles/css/pure-min.css')
    link(rel='stylesheet', href='/resources/styles/css/styles.css')
=======
    include minis/headerreferences.jade
>>>>>>> 7334f0636f6b0e665cd87e1131f14e3cf13a8fb2
    title Some great name
  body
    #main.pure-g
      include minis/header.jade
      section#box404
        .fontwrapper.pure-u-1
          .title.pure-u-1
            h1 whooooops...
        div.heightwrapper.pure-u-1
          div#calvin.pure-u-1-4.darkorange
            img(src='/resources/images/cryingcalvin.svg')
          div.pure-u-3-4.darkorange
            p We're really sorry<br>But this page does not exist
