doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet/less', type='text/css', href='resources/styles/styles.less')
    link(href='http://fonts.googleapis.com/css?family=Julius+Sans+One', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    link(rel='stylesheet' href='/resources/styles/pure-min.css')
    title Some great name
  body
    #main.pure-g
      header.pure-u-1
        div
          a(href='/')
            h1 Music Review Blog
            h2 music|coding|music|design|music
        div.social
          a.pure-u-1-4.social(href='http://facebook.com/fabian.potschies', target='_blank')
            div
              img(src='/resources/images/icons/facebook.svg')
          a.pure-u-1-4.social
            div
              img(src='/resources/images/icons/icon-twitter.svg')
          a.pure-u-1-4.social
            div
              img(src='/resources/images/icons/googleplus.svg')
          a.pure-u-1-4.social(href='http://last.fm/user/wearethewinds', target='_blank')
            div
              img(src='/resources/images/icons/lastfm.svg')
      section#new
        .fontwrapper
          .title.pure-u-1
            h1 Latest reviews
        a.pure-u-1-4.album.darkorange(href='review/yatkha-1999-tuvarock')
          img(src='resources/images/covers/1.jpg')
          div
            span yat-kha<br> "tuva.rock"
        a.pure-u-1-4.album.heavenblue(href='review')
          img(src='resources/images/covers/2.jpg')
          div
            span olan mill<br>"hiraeth"
        a.pure-u-1-4.album.lightorange(href='review')
          img(src='resources/images/covers/3.jpg')
          div
            span yndi halda<br>"enjoy eternal bliss"
        a.pure-u-1-4.album.turquoise(href='review')
          img(src='resources/images/covers/4.jpg')
          div
              span songs:ohia<br>"magnolia electric co"
      section#recommendations
        .fontwrapper
          .title.pure-u-1
            h1 We recommend
        a.pure-u-1-4.album.turquoise(href='review')
          img(src='resources/images/covers/5.jpg')
          div
            span virus<br>"the agent that shapes the desert"
        a.pure-u-1-4.album.lightorange(href='review')
          img(src='resources/images/covers/4.jpg')
          div
            span songs:ohia<br>"magnolia electric co"
        a.pure-u-1-4.album.heavenblue(href='review')
          img(src='resources/images/covers/6.jpg')
          div
            span toe<br>"for long tomorrow"
        a.pure-u-1-4.album.darkorange(href='review')
          img(src='resources/images/covers/7.jpg')
          div
            span elysian blaze<br>"blood geometry"
      section#about
        .fontwrapper
          .title.pure-u-1
            h1 Anything else
        .heightwrapper
          .pure-u-1-2.lightorange
            h2 About me
            p
              | My name is Fabian, music addict, drummer, coder, currently living in Hamburg. Music has been a passion for since being six years old, dancing to the records of my parents (Pink Floyd, Wishbone Ash, Canned Heat...) The obscure, the psychedelic, the raw is still something that can be found in my nowadays music taste, ranging from folk, heavy metal to silence set to music.
          .pure-u-1-2.heavenblue
            h2 Special thanks to
            p
              a(href='http://www.colourlovers.com/lover/manekineko', target='_blank') manekineko
              | for the colour palette.
            p
              a(href='http://www.colourlovers.com/', target='_blank') Colourlovers
              | for letting manekineko create his color palette
            p
              | And some arbitrary greetings to:
              br
              a(href='http://www.friederloch.de', target='_blank') Frieder
              | , Martin, Rafael, Manuel, Nico, Sebastian, David, Sven,
              a(href='http://www.youtube.com/user/lumoband?feature=watch', target='_blank') LUMO
              | (Joseph, Lia, Matt, Ulli), Desy, Jana, Malaika, the fireabendkixxern group
    script(src='resources/javascript/less-1.3.3.min.js', type='text/javascript')
