
<section id="new">
    <div class="fontwrapper">
        <div class="title pure-u-1">
            <h1>Latest reviews</h1>
        </div>
    </div>
    <a ng-repeat="latestReview in latestReviews" href="{{ latestReview.dbref }}" class="pure-u-1-4 album">
        <img src="{{ latestReview.imgref }}"/>
        <div>
            <span>{{ latestReview.artist }}<br> "{{ latestReview.recordname }}"</span>
        </div>
    </a>
</section>
<section id="recommendations">
    <div class="fontwrapper">
        <div class="title pure-u-1">
            <h1>We recommend</h1>
        </div>
    </div>
    <a href="review" class="pure-u-1-4 album"><img src="resources/images/covers/5.jpg"/>
    <div><span>virus<br>"the agent that shapes the desert"</span></div></a><a href="review" class="pure-u-1-4 album"><img src="resources/images/covers/4.jpg"/>
    <div><span>songs:ohia<br>"magnolia electric co"</span></div></a><a href="review" class="pure-u-1-4 album"><img src="resources/images/covers/6.jpg"/>
    <div><span>toe<br>"for long tomorrow"</span></div></a><a href="review" class="pure-u-1-4 album"><img src="resources/images/covers/7.jpg"/>
    <div><span>elysian blaze<br>"blood geometry"</span></div></a>
</section>
<section id="about">
    <div class="fontwrapper">
        <div class="title pure-u-1">
            <h1>Anything else</h1>
        </div>
    </div>
    <div class="heightwrapper">
        <div class="pure-u-1-2 lightorange">
            <h2>About me</h2>
            <p>My name is Fabian, music addict, drummer, coder, currently living in Hamburg. Music has been a passion for since being six years old, dancing to the records of my parents (Pink Floyd, Wishbone Ash, Canned Heat...) The obscure, the psychedelic, the raw is still something that can be found in my nowadays music taste, ranging from folk, heavy metal to silence set to music.</p>
        </div>
        <div class="pure-u-1-2 heavenblue">
            <h2>Special thanks to</h2>
            <p><a href="http://www.colourlovers.com/lover/manekineko" target="_blank">manekineko</a> for the colour palette.</p>
            <p><a href="http://www.colourlovers.com/" target="_blank">Colourlovers</a> for letting manekineko create his color palette</p>
            <p>And some arbitrary greetings to:<br/><a href="http://www.friederloch.de" target="_blank">Frieder</a>, Martin, Rafael, Manuel, Nico, Sebastian, David, Sven, Desy, Jana, Malaika</p>
        </div>
    </div>
</section>