
<section id="new">
    <div class="fontwrapper">
        <div class="title pure-u-1">
            <h1>Latest reviews</h1>
        </div>
    </div>
    <a ng-repeat="latestReview in latestReviews" href="{{ latestReview.dbref }}" class="pure-u-1-4 album">
        <img src="{{ latestReview.imgref }}"/>
        <div>
            <span>{{ latestReview.artist }}<br> "{{ latestReview.recordname }}"</span>
        </div>
    </a>
</section>
<section id="recommendations">
    <div class="fontwrapper">
        <div class="title pure-u-1">
            <h1>We recommend</h1>
        </div>
    </div>
    <a href="review" class="pure-u-1-4 album"><img src="resources/images/covers/5.jpg"/>
    <div><span>virus<br>"the agent that shapes the desert"</span></div></a><a href="review" class="pure-u-1-4 album"><img src="resources/images/covers/4.jpg"/>
    <div><span>songs:ohia<br>"magnolia electric co"</span></div></a><a href="review" class="pure-u-1-4 album"><img src="resources/images/covers/6.jpg"/>
    <div><span>toe<br>"for long tomorrow"</span></div></a><a href="review" class="pure-u-1-4 album"><img src="resources/images/covers/7.jpg"/>
    <div><span>elysian blaze<br>"blood geometry"</span></div></a>
</section>