doctype html
html(ng-app='musicblog')
  head
    include minis/headerreferences.jade
    title Some great name
  body
    #main.pure-g
      include minis/header.jade
      section#new
        .fontwrapper
          .title.pure-u-1
            h1 Latest reviews
        each review, i in newest
          a.pure-u-1-4.album(href='/review/#{review.dbrefer}')
            img(src='#{review.record.coverlores}')
            div
              span
                | #{review.record.artist}&nbsp;
                br
                | "#{review.record.title}"
      section#recommendations
        .fontwrapper
          .title.pure-u-1
            h1 We recommend
      section#about
        .fontwrapper
          .title.pure-u-1
            h1 Anything else
        .heightwrapper
          .pure-u-1.lightorange-text
            h2 About me
            p
              | My name is Fabian, music addict, drummer, coder, currently living in Hamburg. Music has been a passion for since being six years old, dancing to the records of my parents (Pink Floyd, Wishbone Ash, Canned Heat...) The obscure, the psychedelic, the raw is still something that can be found in my nowadays music taste, ranging from folk, heavy metal to silence set to music.
          .pure-u-1.heavenblue-text
            h2 Special thanks to
            p
              a(href='http://www.colourlovers.com/lover/manekineko', target='_blank') manekineko
              |  for the colour palette.
            p
              a(href='http://www.colourlovers.com/', target='_blank') Colourlovers
              |  for letting manekineko create his color palette
            p
              | And some arbitrary greetings to:
              br
              a(href='http://www.friederloch.de', target='_blank') Frieder
              | , Martin, Rafael, Manuel, Nico, Sebastian, David, Sven, Desy, Jana, Malaika
    include minis/javascript.jade