doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet/less', type='text/css', href='/resources/styles/styles.less')
    link(href='http://fonts.googleapis.com/css?family=Julius+Sans+One', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    link(rel='stylesheet' href='/resources/styles/pure-min.css')
    title Some great name
  body
    #main.pure-g
      header.pure-u-1
        div
          a(href='/')
            h1 Music Review Blog
            h2 music|coding|music|design|music
        div.social
          a.pure-u-1-4.social(href='http://facebook.com/fabian.potschies', target='_blank')
            div
              img(src='/resources/images/icons/facebook.svg')
          a.pure-u-1-4.social
            div
              img(src='/resources/images/icons/twitter.svg')
          a.pure-u-1-4.social
            div
              img(src='/resources/images/icons/googleplus.svg')
          a.pure-u-1-4.social(href='http://last.fm/user/wearethewinds', target='_blank')
            div
              img(src='/resources/images/icons/lastfm.svg')
