
<article id="review" class="pure-u-2-3">
    <header class="pure-u-23-24">
        <h1 class="pure-u-1-2">{{ review.record.artist }}<br/>{{ review.record.title }}</h1>
        <time class="pure-u-1-2">{{ review.published }}</time>
        <h2 class="pure-u-1-2">{{ review.heading }}</h2>
        <div id="cover" class="pure-u-1-3"><img src="/resources/images/covers/1.jpg"/></div>
    </header>
    <p>Sesame snaps pie sesame snaps icing candy canes dessert chocolate cake dessert. Danish oat cake applicake sweet ice cream. Donut jujubes unerdwear.com. Cookie chocolate bar tart wafer carrot cake. Gummi bears chupa chups halvah jujubes candy canes lollipop. Pie jelly-o chocolate cake tart muffin sugar plum sweet fruitcake gingerbread. Wafer danish caramels macaroon sesame snaps brownie. Sesame snaps jelly-o sesame snaps jelly beans icing tart powder. Macaroon wafer sugar plum chocolate. Biscuit unerdwear.com tiramisu croissant oat cake soufflé.</p>
    <p>Brownie fruitcake fruitcake. Chocolate cake chocolate cake tart dessert apple pie liquorice marzipan chocolate cake cupcake. Sweet roll sweet cotton candy. Liquorice lemon drops applicake cotton candy biscuit soufflé gummi bears. Gummi bears lemon drops tootsie roll dragée lollipop lemon drops dessert. Chupa chups tart dragée cake icing powder. Apple pie carrot cake sweet cheesecake.</p>
    <p>Toffee halvah brownie danish fruitcake unerdwear.com soufflé gummi bears muffin. Dragée sweet roll chocolate cake ice cream cookie. Lemon drops dessert tootsie roll fruitcake gingerbread bear claw apple pie. Icing applicake chocolate bar gingerbread. Brownie icing applicake gummies croissant tart biscuit. Carrot cake cupcake sweet lemon drops donut. Pie cotton candy lollipop gingerbread candy canes tootsie roll marzipan pastry sweet roll. Wafer biscuit chocolate sweet roll. Cupcake dessert candy muffin icing biscuit jelly dessert jelly-o. Chocolate bar jujubes liquorice.</p>
    <p>Sweet wafer cotton candy unerdwear.com candy unerdwear.com jelly beans. Tiramisu chocolate dragée applicake chocolate bar fruitcake sesame snaps. Lollipop halvah bonbon cupcake wafer pie. Tart marshmallow topping liquorice. Apple pie carrot cake dessert. Carrot cake gummi bears cookie jelly-o liquorice icing danish.</p>
    <p>Danish chocolate sweet cheesecake cotton candy. Chocolate bar gummi bears tiramisu chocolate cake. Cupcake unerdwear.com gummies topping. Lemon drops topping jujubes sweet roll pudding. Gummies wafer sesame snaps tootsie roll jelly beans lollipop. Unerdwear.com bonbon sesame snaps danish pudding. Danish marzipan cotton candy chocolate. Topping croissant candy liquorice carrot cake. Pie jelly beans bonbon. Dragée jelly-o sweet roll macaroon pudding cookie liquorice toffee.</p>
    <section id="commentary" class="pure-u-23-24">
        <div class="fontwrapper">
            <div class="title pure-u-1">
                <h1> 2 Commments</h1>
            </div>
        </div>
        <article class="comment darkorange">
            <header>
                <time>26.12.2013</time>
                <h2>Hans</h2>
            </header>
            <p>Danish chocolate sweet cheesecake cotton candy. Chocolate bar gummi bears tiramisu chocolate cake. Cupcake unerdwear.com gummies topping. Lemon drops topping jujubes sweet roll pudding. Gummies wafer sesame snaps tootsie roll jelly beans lollipop. Unerdwear.com bonbon sesame snaps danish pudding. Danish marzipan cotton candy chocolate. Topping croissant candy liquorice carrot cake. Pie jelly beans bonbon. Dragée jelly-o sweet roll macaroon pudding cookie liquorice toffee.</p>
        </article>
        <article class="comment heavenblue">
            <header>
                <h2>Wurst</h2>
                <time>12.12.2013</time>
            </header>
            <p>Sweet wafer cotton candy unerdwear.com candy unerdwear.com jelly beans. Tiramisu chocolate dragée applicake chocolate bar fruitcake sesame snaps. Lollipop halvah bonbon cupcake wafer pie. Tart marshmallow topping liquorice. Apple pie carrot cake dessert. Carrot cake gummi bears cookie jelly-o liquorice icing danish.</p>
        </article>
    </section>
</article>
<section id="rightside" class="pure-u-1-3">
    <section>
        <div class="fontwrapper">
            <div class="title pure-u-1">
                <h1>Latest reviews</h1>
            </div>
        </div><a href="/review/yatkha-1999-tuvarock" class="pure-u-1-2 album darkorange"><img src="/resources/images/covers/1.jpg"/>
        <div><span>yat-kha "tuva.rock"</span></div></a><a href="/review" class="pure-u-1-2 album heavenblue"><img src="/resources/images/covers/2.jpg"/>
        <div><span>olan mill</span><span>"hiraeth"</span></div></a><a href="/review" class="pure-u-1-2 album turquoise"><img src="/resources/images/covers/3.jpg"/>
        <div><span>yndi halda</span><span>"enjoy eternal bliss"</span></div></a><a href="/review" class="pure-u-1-2 album lightorange"><img src="/resources/images/covers/4.jpg"/>
        <div><span>songs:ohia</span><span>"magnolia electric co"</span></div></a>
    </section>
    <section>
        <div class="fontwrapper">
            <div class="title pure-u-1">
                <h1>We recommend</h1>
            </div>
        </div><a href="/review" class="pure-u-1-2 album turquoise"><img src="/resources/images/covers/5.jpg"/>
        <div><span>virus</span><span>"the agent that shapes the desert"</span></div></a><a href="/review" class="pure-u-1-2 album lightorange"><img src="/resources/images/covers/4.jpg"/>
        <div><span>songs:ohia</span><span>"magnolia electric co"</span></div></a><a href="/review" class="pure-u-1-2 album darkorange"><img src="/resources/images/covers/6.jpg"/>
        <div><span>toe</span><span>"for long tomorrow"</span></div></a><a href="/review" class="pure-u-1-2 album heavenblue"><img src="/resources/images/covers/7.jpg"/>
        <div><span>elysian blaze</span><span>"blood geometry"</span></div></a>
    </section>
</section>