html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet/less', type='text/css', href='resources/styles/styles.less')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.3.0/pure-min.css')
    link(href='http://fonts.googleapis.com/css?family=Julius+Sans+One', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    title Some great name
    style(type='text/css')
  body
    #main.pure-g
      header.pure-u-1
        div
          a(href='/')
            h1 Music Review Blog
            h2 music|coding|music|design|music
      article#review.pure-u-2-3
        header.pure-u-23-24
          h1.pure-u-1-2
            | Yat-Kha
            br
            | 'Tuva.rock'
          time.pure-u-1-2 13.12.2013
          h2.pure-u-1-2 Sesame snaps pie sesame snaps icing candy canes dessert chocolate cake dessert
          #cover.pure-u-1-3
            img(src='resources/images/covers/1.jpg')
        p
          | Sesame snaps pie sesame snaps icing candy canes dessert chocolate cake dessert. Danish oat cake applicake sweet ice cream. Donut jujubes unerdwear.com. Cookie chocolate bar tart wafer carrot cake. Gummi bears chupa chups halvah jujubes candy canes lollipop. Pie jelly-o chocolate cake tart muffin sugar plum sweet fruitcake gingerbread. Wafer danish caramels macaroon sesame snaps brownie. Sesame snaps jelly-o sesame snaps jelly beans icing tart powder. Macaroon wafer sugar plum chocolate. Biscuit unerdwear.com tiramisu croissant oat cake soufflé.
        p
          | Brownie fruitcake fruitcake. Chocolate cake chocolate cake tart dessert apple pie liquorice marzipan chocolate cake cupcake. Sweet roll sweet cotton candy. Liquorice lemon drops applicake cotton candy biscuit soufflé gummi bears. Gummi bears lemon drops tootsie roll dragée lollipop lemon drops dessert. Chupa chups tart dragée cake icing powder. Apple pie carrot cake sweet cheesecake.
        p
          | Toffee halvah brownie danish fruitcake unerdwear.com soufflé gummi bears muffin. Dragée sweet roll chocolate cake ice cream cookie. Lemon drops dessert tootsie roll fruitcake gingerbread bear claw apple pie. Icing applicake chocolate bar gingerbread. Brownie icing applicake gummies croissant tart biscuit. Carrot cake cupcake sweet lemon drops donut. Pie cotton candy lollipop gingerbread candy canes tootsie roll marzipan pastry sweet roll. Wafer biscuit chocolate sweet roll. Cupcake dessert candy muffin icing biscuit jelly dessert jelly-o. Chocolate bar jujubes liquorice.
        p
          | Sweet wafer cotton candy unerdwear.com candy unerdwear.com jelly beans. Tiramisu chocolate dragée applicake chocolate bar fruitcake sesame snaps. Lollipop halvah bonbon cupcake wafer pie. Tart marshmallow topping liquorice. Apple pie carrot cake dessert. Carrot cake gummi bears cookie jelly-o liquorice icing danish.
        p
          | Danish chocolate sweet cheesecake cotton candy. Chocolate bar gummi bears tiramisu chocolate cake. Cupcake unerdwear.com gummies topping. Lemon drops topping jujubes sweet roll pudding. Gummies wafer sesame snaps tootsie roll jelly beans lollipop. Unerdwear.com bonbon sesame snaps danish pudding. Danish marzipan cotton candy chocolate. Topping croissant candy liquorice carrot cake. Pie jelly beans bonbon. Dragée jelly-o sweet roll macaroon pudding cookie liquorice toffee.
        section#commentary.pure-u-23-24
          .fontwrapper
            .title.pure-u-1
              h1  2 Commments
          article.comment.darkorange
            header
              time 26.12.2013
              h2 Hans
            p
              | Danish chocolate sweet cheesecake cotton candy. Chocolate bar gummi bears tiramisu chocolate cake. Cupcake unerdwear.com gummies topping. Lemon drops topping jujubes sweet roll pudding. Gummies wafer sesame snaps tootsie roll jelly beans lollipop. Unerdwear.com bonbon sesame snaps danish pudding. Danish marzipan cotton candy chocolate. Topping croissant candy liquorice carrot cake. Pie jelly beans bonbon. Dragée jelly-o sweet roll macaroon pudding cookie liquorice toffee.
          article.comment.heavenblue
            header
              h2 Wurst
              time 12.12.2013
            p
              | Sweet wafer cotton candy unerdwear.com candy unerdwear.com jelly beans. Tiramisu chocolate dragée applicake chocolate bar fruitcake sesame snaps. Lollipop halvah bonbon cupcake wafer pie. Tart marshmallow topping liquorice. Apple pie carrot cake dessert. Carrot cake gummi bears cookie jelly-o liquorice icing danish.
      section#rightside.pure-u-1-3
        section
          .fontwrapper
            .title.pure-u-1
              h1 Latest reviews
          a.pure-u-1-2.album.darkorange(href='review')
            img(src='resources/images/covers/1.jpg')
            div
              div
                span yat-kha
                span "tuva.rock"
          a.pure-u-1-2.album.heavenblue(href='review')
            img(src='resources/images/covers/2.jpg')
            div
              div
                span olan mill
                span "hiraeth"
          a.pure-u-1-2.album.turquoise(href='review')
            img(src='resources/images/covers/3.jpg')
            div
              div
                span yndi halda
                span "enjoy eternal bliss"
          a.pure-u-1-2.album.lightorange(href='review')
            img(src='resources/images/covers/4.jpg')
            div
              div
                span songs:ohia
                span "magnolia electric co"
        section
          .fontwrapper
            .title.pure-u-1
              h1 We recommend
          a.pure-u-1-2.album.turquoise(href='review')
            img(src='resources/images/covers/5.jpg')
            div
              div
                span virus
                span "the agent that shapes the desert"
          a.pure-u-1-2.album.lightorange(href='review')
            img(src='resources/images/covers/4.jpg')
            div
              div
                span songs:ohia
                span "magnolia electric co"
          a.pure-u-1-2.album.darkorange(href='review')
            img(src='resources/images/covers/6.jpg')
            div
              div
                span toe
                span "for long tomorrow"
          a.pure-u-1-2.album.heavenblue(href='review')
            img(src='resources/images/covers/7.jpg')
            div
              div
                span elysian blaze
                span "blood geometry"
        section
          .fontwrapper
            .title.pure-u-1
              h1 Social media
          a.pure-u-1-4.social.lightorange
            div
              img(src='resources/images/icons/facebook.svg')
          a.pure-u-1-4.social.heavenblue
            div
              img(src='resources/images/icons/icon-twitter.svg')
          a.pure-u-1-4.social.darkorange
            div
              img(src='resources/images/icons/googleplus.svg')
          a.pure-u-1-4.social.turquoise(href='http://last.fm/user/wearethewinds')
            div
              img(src='resources/images/icons/lastfm.svg')
    script(src='resources/javascript/less-1.3.3.min.js', type='text/javascript')
