header.pure-u-1
  div
    a(href='/')
      h1 Music Review Blog
      h2 music|coding|music|design|music
  div.social
    a.pure-u-1-5.socialitem(href='http://facebook.com/fabian.potschies', target='_blank')
      div
        img(src='/resources/images/icons/facebook.svg')
    a.pure-u-1-5.socialitem(href='404')
      div
        img(src='/resources/images/icons/googleplus.svg')
    a.pure-u-1-5.socialitem
      div
        img(src='/resources/images/icons/twitter.svg')
    a.pure-u-1-5.socialitem(href='http://last.fm/user/wearethewinds', target='_blank')
      div
        img(src='/resources/images/icons/lastfm.svg')
    a.github.pure-u-1-5.socialitem(href='https://github.com/wearethewinds', target='_blank')
      div
        img(src='/resources/images/icons/github.svg')
        img(src='/resources/images/icons/github_open.svg')