@font-julius: 'Julius Sans One', sans-serif;;
@font-raleway: 'Raleway', sans-serif;
@font-blockquote-settings: 'Tauri', sans-serif;
@h1-color: #7C774D;
@h2-color: #AAAAAA;

@hover-animation-fadein: all 0.2s ease-in-out;

@dark-orange: #FA6900;
@heaven-blue: #69D2E7;
@light-orange: #F38630;
@turquoise: #A7DBD8;

@just-blue: #BBCAEF;

@bright-color: #E0E4CC;

@color-white: #FFF;

/**
 *   RESET CSS
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**********************************************/


@media screen and (max-width: 1200px) {  
  div#main {
    width: 85% !important;
  }
  
  a.album {
    height: 15em !important;
    padding: 1.5em 0 0 0;
    img {
      height: 75%;
    }
  }
  
  section > a.album > div {
      letter-spacing: -0.05em;
      margin: 0 auto;
      font-size: 1.1em;
      padding: 0 1em 0 1em;
      height: auto; 
      display: inline-block;
      div {
        display: inline-block;
      }
  }
  
  div.fontwrapper { 
    height: 3em !important;
    h1 {
     font-size: 2.4em !important;
    }
  }
  
  section#rightside > section > div.fontwrapper, article#review > section#commentary > div.fontwrapper {
    height: 2em !important; 
    h1 {
      font-size: 1em !important;
      letter-spacing: normal;
    }
  }  
  
  div.heightwrapper {
    div {
      font-size: 0.75em;
    }
  }
  
  article#review, section#rightside, section#commentary {
    width: 100% !important;
  }
  
  section#rightside > section {
    display: inline-block;
    width: 100% !important ;
    a.album {
      height: 6em !important;
      width: 100% !important;
      img {
        width: 6em !important;
      }
      div {
        font-size: 1.22em !important;
      }
    }
  }
}

@media screen and (min-width: 1198px) {
  a.album {
    text-align: center;
    height: 18em;
    padding: 1em 0em 1em 0em;
    position: relative;
    img {
      max-height: 100%;
    }
  }
  
  section#rightside {
    font-size: 1.75em;
    padding: 0.5em 0 0 0;
  }

  a.album > div {
    font-size: 2.2em;
    letter-spacing: -0.05em;
    position: absolute;
    opacity: 0;
    top:0;
    left:0;
    bottom:0;
    right:0; 
    background-color: inherit;
    width: 100%;
    height: 9.1em;
  }
  
  a.album > div > div > span{
    display: block;
    padding: 0 0.5em 0 0.5em;
  }
  
  a.album:hover {
  }
  
  a.album:hover > div {
   opacity: 1;
   -webkit-transition: @hover-animation-fadein;
      -moz-transition: @hover-animation-fadein;
      -o-transition: @hover-animation-fadein;
      transition: @hover-animation-fadein;
  }
  
  section#rightside > section > div.fontwrapper {
    height: 3em;
    h1 {
      font-size: 1.15em;
    }
  }
}

@media screen and (max-width: 1000px) {
  
  div#main {
    width: 85% !important;
  }
  
  a.album {
    width: 100%;
    text-align: left !important;
    height: 4em !important;
    padding: 0 !important;
  }
  
  a.album > img {
    width: 4em;
    height: auto;
    float: left;
  }
  
  a.album > div {
    width: auto;
    padding-left: 1em;
    margin: 0;
    height: 100% !important;
    font-size: 1.3em;
  }
  
  a.album:hover {
    -webkit-transistion: height ease 1s;
    height: 5em !important;
  }
  
  a.album:hover > img {
    width: 5em;
    height: auto;
  }
  
  a.social {
    width: 25% !important;
    background-color: @light-orange !important;
  }
  
  div.fontwrapper {
    height: 4em;
    div.title {
      width: 100%;
      position: relative !important;
      h1 {
        font-size: 1.3em !important;
        padding: 0 0 0 0.2em !important;
        margin: .67em 0 !important;
      }
    }
  }
  
  section#about {
    div {
      width: 100% !important; 
      display: table;
    }
  }
  
  article#review {
    width: 100% !important; 
    p {
      padding: 0 !important;
    }
  }
  
  section#box404 {
    div.heightwrapper div {
      font-size: 2em !important;
    }
    div#calvin img{
      padding: 1em;
      max-width: 75%;
    }
  }
}

@media screen and (max-width: 800px) {
  div#main {
    width: 95% !important;
  }
  
  article#review {
    font-size: 0.8em;
    header {
      time {
        font-size: 1.5em !important;
      }
    }
  }
  
  section#rightside a.album > div {
    div {
      font-size: 1em !important;
    }
  }
  
  article.comment > header {
    time {
      font-size: 2.3em !important;
    }
  }
  
}

@media screen and (max-width: 500px) {
  div#main {
    width: 100% !important;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
  }
  section#box404 div.heightwrapper div {
    font-size: 1em !important;
  }
}

@media screen and (max-width: 1400px) {
  
  a.album {
    height: 14em;
  }
  
  a.album > div {
    height: 7.3em;
  }
}

body {
  overflow-x: hidden;
}

article#review > header > time {
  font-family: @font-raleway;
}

div#main {
  width: 85%;
  max-width: 1400px;
  margin: 1em auto;
  position: relative;
  background-color: @color-white;
  padding: 0 1em 0 1em;
}

header {
  position: relative;
  time {
    position: absolute;
    right: 0;
    top: -0.3em;
    color: @color-white;
    opacity: 0.4;
    font-size: 3.8em;
  }
  div {
    padding-bottom: 1em;
    h1 {
        font-family: @font-julius;
        font-size: 3em;
        letter-spacing: -0.1em;
        color: @dark-orange;
        margin-bottom: 0.4em;
    }
    
    h2 {
        font-size: 1.2em;
        color: @light-orange;
    }
  }
  a {
    text-decoration: none;
  }
}

a.album {
  text-decoration: none;
  text-align: center;
}

section {
  width: 100%;
  margin-bottom: 1em;
}

div.fontwrapper {
  width: 100%;
  height: 5em;
  display: table;
  background-color: @bright-color;
  div.title {
    display: table-cell;
    vertical-align: middle;
    h1 {
     font-size: 3em;
     font-family: @font-julius; 
     margin: 0;
     color: #000;
     padding-left: 0.2em;    
     letter-spacing: 0.2em;
    }
  }
}

.darkorange {
  background-color: @dark-orange;
}

.heavenblue {
  background-color: @heaven-blue;
}

.lightorange {
  background-color: @light-orange;
}

.turquoise {
  background-color: @turquoise;
}

article#review > header {
  display: block;
   h1 {
    font-family: @font-julius;
    font-size: 3em;
    display: inline-block;
  }
  time {
    color: #000;
    position: relative;
    display: inline-block;
    text-align: right;
  }
  h2 {
    display: inline-block;
    font-style: italic;
  }
  div#cover {
    display: inline-block;
    float: right;
    img {
      width: 100%;
    }
  }
}

article#review {
  padding-top: 1em;
  p {
    padding: 0 2em 0 0;
    font-size: 1.5em;
    font-family: @font-raleway;
  }
}

section#about {
  h2 {
    color: #FFF;
    padding: 0 1rem 0 1rem;
  }
  p {
    font-family: @font-raleway;
    font-size: 1.5em;
    padding: 0 1rem 0 1rem;
  }
  
  a {
    color: #FFF;
  }
  
  a:hover {
    color: #FFF;
  }
}

div.heightwrapper {
  display: table;
  div {
    display: table-cell;
  }
}

a.album > div {
  display: table !important;
  color: @color-white;
  font-family: @font-raleway;
  margin: 0 !important;
  div {
    display: table-cell !important;
    vertical-align: middle !important;
  }
}

a.social {
  text-align: center;
  div {
    display: table;
    img {
      display: table-cell;
      vertical-align: middle;
      width: 90%;
      margin: 0 auto;
    }
  }
}

div.socialwrapper {
  background-color: @light-orange;
  letter-spacing: inherit;
}

div.spacer {
  display: inline-block;
  height: auto;
}
   
section#rightside {
  letter-spacing: inherit;
}

section#rightside > section > a.album {
  width: 100%;
  text-align: left;
  height: 4em;
  padding: 0;
  img {
    width: 4em;
    height: auto;
    float: left;
  }
}

section#rightside > section > a.album > div {
  position: relative;
  width: auto;
  padding-left: 1em;
  margin: 0;
  height: 100%;
  font-size: 0.86em;
  opacity: 1;
  div {
    width: 100%;
    text-align: left;
    font-size: 1em;
    padding-right: 0.8em;
    span {
      display: inline;
      padding: 0;
    }
  }
}

article.comment {
  padding: 1em;
  font-family: @font-raleway;
}

h2 {
  font-family: @font-raleway !important;
  letter-spacing: -0.05em !important;
}

section#box404 {
  div#calvin img{
    padding: 1em;
    height: auto;
  }
  div.heightwrapper div {
    font-family: @font-raleway;
    font-size: 3.5em;
    color: @color-white;
    vertical-align: middle;
  }
  p {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

article.comment > header {
  h2{
    margin-top: 0;
    color: @color-white;
  }
}
