@font-h1-settings: 'Julius Sans One', sans-serif;;
@font-h2-settings: 'Raleway', sans-serif;
@font-blockquote-settings: 'Tauri', sans-serif;
@h1-color: #7C774D;
@h2-color: #AAAAAA;

@hover-animation-fadein: all 0.2s ease-in-out;

@dark-orange: #FA6900;
@heaven-blue: #69D2E7;
@light-orange: #F38630;
@turquoise: #A7DBD8;

@just-blue: #BBCAEF;

@bright-color: #E0E4CC;


@media screen and (max-width: 1200px) {  
  div#main {
    width: 75% !important;
  }
  
  a.album {
    height: 11.5em !important;
    text-align: center;
    vertical-align: middle;
    padding: 1.5em 0 0 0;
    img {
      height: 8.2em;
    }
  }
  
  a.album > div {
      font-family: @font-h2-settings;
      font-size: 1em;
      letter-spacing: -0.05em;
      color:#fff;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      height: auto !important;
      background-color: inherit !important;
  }
  
   a.album > div > div {
      text-align: center;
      margin: 0 auto;
      width: auto;
      display: block;
      height: auto;
      background-color: inherit !important; 
      margin: 0 0.3em 0 0.3em;
  }
  
  div.fontwrapper { 
    height: 3em !important;
    div.title {
      h1 {
       font-size: 2.4em !important;
      }
    }
  }
  
  section#rightside > section > a.album {
    width: 100%;
    text-align: left !important;
    height: 3em !important;
    padding: 0 !important;
  }
  
  section#rightside > section > a.album > img {
    width: 3em;
    height: auto;
    float: left;
  }
  
  section#rightside > section > a.album > div {
    display: table;
    width: auto;
    padding-left: 1em;
    margin: 0;
    height: 100% !important;
    font-size: 0.86em;
    div {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
    }
  }
  
  section#rightside > section > div.fontwrapper {
    height: 2em !important;
    div.title {
      display: table;
      height: 100%;
      h1 {
        display: table-cell;
        vertical-align: middle;
        font-size: 1em !important;
        letter-spacing: normal;
      }
    }
  }
  
    
  section#rightside {
    letter-spacing: inherit;
  }
  
  
}

@media screen and (min-width: 1198px) {
  a.album {
    text-align: center;
    height: 12em;
    padding: 1em 0 1em 0;
    position: relative;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  
    
  a.album.social {
    height: 2em !important;
  }
  
  a.album.social > img {
    width: 2em;
  }
  
  section#rightside {
    letter-spacing: inherit;
    padding: 1em 0 0 0;
  }
  
  section#rightside > section > a.album {
    text-align: center;
    height: 6em;
    padding: 2.5% 2.5% 2.5% 2.5%;
    width: 45%;
    position: relative;
  }
  
  a.album > div {
    font-family: @font-h2-settings;
    font-size: 1.2em;
    letter-spacing: -0.05em;
    color:#fff;
    position: absolute;
    opacity: 0;
    top:0;
    left:0;
    bottom:0;
    right:0; 
    text-align: center;
    background-color: inherit;
    display: table;
    width: 100%;
    height: 11.7em;
  }
  
  section#rightside > section > a.album > div {
    position: absolute;
    height: 110%;
    width: 110%;
  }
  
  
  a.album > div > div {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      background-color: inherit;
  }
  
  a.album > div > div > span{
    display: block;
    padding: 0 0.5em 0 0.5em;
  }
  
  a.album:hover {
  }
  
  a.album:hover > div {
   opacity: 1; 
   -webkit-transition: @hover-animation-fadein;
      -moz-transition: @hover-animation-fadein;
      -o-transition: @hover-animation-fadein;
      transition: @hover-animation-fadein;
  }
  
  section#rightside > section > div.fontwrapper {
    height: 2em;
    div.title {
      display: table;
      height: 100%;
      h1 {
        display: table-cell;
        vertical-align: middle;
        font-size: 1em;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  
  div#main {
    width: 85% !important;
  }
  
  a.album {
    width: 100%;
    text-align: left !important;
    height: 4em !important;
    padding: 0 !important;
  }
  
  a.album > img {
    width: 4em;
    height: auto;
    float: left;
  }
  
  a.album > div {
    display: table;
    width: auto;
    padding-left: 1em;
    margin: 0;
    height: 100% !important;
    font-size: 1.3em;
    div {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
    }
  }
  
  a.album:hover {
    -webkit-transistion: height ease 1s;
    height: 5em !important;
  }
  
  a.album:hover > img {
    width: 5em;
    height: auto;
  }
  
  a.social {
    width: 25% !important;
  }
  
  div.fontwrapper {
    height: 4em;
    div.title {
      width: 100%;
      position: relative !important;
      height: 100%;
      display: table !important;
      h1 {
        font-size: 1.3em !important;
        padding: 0 0 0 0.2em !important;
        margin: .67em 0 !important;
        display: table-cell;
        vertical-align: middle;
      }
    }
    div {
      display: none;
    }
  }

  article#review, section#rightside {
    width: 100% !important;
  }
  
  section#rightside > section {
    display: inline-block;
    width: 45% !important;
    a.album {
      width: 100% !important;
    }
  }
  
  section#rightside > section:nth-of-type(1) {
    padding-right: 2em;
  }
  
  section#about {
    div {
      width: 100% !important;
      display: inline-block;
    }
  }
}

@media screen and (max-width: 800px) {
  div#main {
    width: 95% !important;
  }
}

@media screen and (max-width: 500px) {
  div#main {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  section#rightside > section {
    display: block;
    width: 100% !important;
    a.album {
      width: 100% !important;
    }
  }
  
  section#rightside > section:nth-of-type(1) {
    padding-right: 2em;
  }
}

div#main {
  width: 75%;
  max-width: 1000px;
  margin: 1em auto;
  position: relative;
  background-color: #fff;
  padding: 0 1em 0 1em;
}

header {
  div {
    padding-bottom: 1em;
    h1 {
        font-family: @font-h1-settings;
        font-size: 2em;
        letter-spacing: -0.1em;
        color: @dark-orange;
        margin-bottom: 0.4em;
    }
    
    h2 {
        font-family: @font-h2-settings;
        font-size: 0.8em;
        letter-spacing: -0.05em;
        color: @light-orange;
    }
  }
  a {
    text-decoration: none;
  }
}

a.album {
  text-decoration: none;
}

section {
  width: 100%;
  margin-bottom: 1em;
}

div.fontwrapper {
  width: 100%;
  height: 4em;
  position: relative;
  div {
    height: 100%;
  }
  div.title {
    position: absolute;
    top: 0;
    left:0px;
    bottom:0px;
    right:0px; 
    background-color: @bright-color;

    h1 {
     font-size: 3em;
     font-family: @font-h1-settings; 
     padding: 0.2em;
     margin: 0;
     color: #000;    
     letter-spacing: 0.2em;
    }
  }
}

.album1 {
  background-color: @dark-orange;
}

.album2 {
  background-color: @heaven-blue;
}

.album3 {
  background-color: @light-orange;
}

.album4 {
  background-color: @turquoise;
}

article#review > p {
  padding: 0 2em 0 0;
}

section#about {
  h2 {
    font-family: @font-h2-settings;
    color: #FFF;
    padding: 0 1rem 0 1rem;
  }
  p {
    font-family: @font-h2-settings;
    padding: 0 1rem 0 1rem;
  }
  
  a {
    color: #FFF;
  }
  
  a:hover {
    color: #FFF;
  }
}

div.heightwrapper {
  display: table;
  div {
    display: table-cell;
  }
}

a.social {
  text-align: center;
  div {
    display: table;
    img {
      display: table-cell;
      vertical-align: middle;
      width: 90%;
      margin: 0 auto;
    }
  }
}

div.socialwrapper {
  background-color: @light-orange;
  letter-spacing: inherit;
}

div.spacer {
  display: inline-block;
  height: auto;
}
